<nav class="barra">
    <h1> </h1>
    <button> <a  class="texto" href="/">Home </a></button>
    <button> <a class="texto" href="/secured" > Usuario </a></button>
    <% if(!isAuthenticated) {%>
    <button> <a class="texto"  href="/login">Login </a></button>
    <% } else {%>
    <button> <a class="texto" href="/logout">Logout </a></button>
    <% } %>
</nav>